  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

  * {
      margin: 0%;
      padding: 0%;
      font-family: 'Roboto', sans-serif;

  }

  .container {
      display: flex;
      width: 100%;
      height: 100%;
      flex-wrap: wrap;
  }

  .header {
      display: flex;
      width: 100%;
      height:6.349206349206349vh;
      background-color: #3a78db;
      outline: 1px solid black;
      justify-content: safe
  }

  .logo {
      font-size: small;
      margin: 1.1337868480725624vh;
      justify-content: center;
  }

  .blank1 {
      background-color: inherit;
      width: 18.229166666666668vw;
      height: 6.349206349206349vh;
  }

  .sublogo {
      list-style: none;
  }

  .logo2 {
      margin-top: -0.5668934240362812vh;
      font-size: 0.625em;
      font-style: italic;
      text-align: center;
  }

  .search {
      display: flex;
      height: 3.9682539682539684vh;
      width: 51.02040816326531vh;
      justify-content: center;
      align-items: center;
      padding: 10px;
  }

  .search1 {
      display: flex;
      height: 3.9682539682539684vh;
      width: 100%;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      padding-left: 10px;

  }

  .searchbtn {
      display: flex;
      height: 3.9682539682539684vh;
      width: 1.8229166666666667vw;
      justify-content: center;
      align-items: center;
      border: none;
      outline: none;
      background-color: white;
  }

  .btn {
      display: flex;
      justify-content: center;
      border: none;
      outline: none;
      margin: 1.1337868480725624vh;
      margin-left: -2.6041666666666665vw;
  }

  .login {
      display: flex;
      height: 3.401360544217687vh;
      width: 6.25vw;
      justify-content: center;
      background-color: #fff;
      margin: 12px;
      margin-left: 13.020833333333334vw;

  }

  .login a {
      text-decoration: none;
      color: #2874f0;
      text-align: center;
      margin: 5px;
  }

  .morearrow {
      display: flex;
      width: 2.6041666666666665vw;
      /* height: 200px; */
      justify-content: space-between;
      margin: 18px;
      margin-top: 20px;
      /* flex-direction: column; */
  }

  .more {
      /* display: flex; */
      color: white;
      font-family: 'Roboto', sans-serif;
  }

  .arrowup svg {
      display: flex;
      transform: rotate(270deg);
      height: 1.1337868480725624vh;
      width: 0.9375vw;
      margin-top: 5px;
  }

  .morearrow:hover .arrowup {
      transform: rotate(180deg);
  }

  .moremenu {
      display: none;
      background-color: #fff;
      flex-direction: column;
      position: absolute;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      width: 10.416666666666666vw;
      top: 6.235827664399093vh;
      right: 20.3125vw;
  }

  .moremenu a {
      width: auto;
      border-bottom: 1px solid #000;
      padding: 10px 0px 10px;
      color: #000;
      text-decoration: none;
      font-size: 15px;
  }

  .moremenu a:hover {
      background-color: #ffffff;
      width: 100%;

  }

  .morearrow:hover .moremenu {
      display: flex;
      position: absolute;
      color: #000;
  }

  .CartA {
      display: flex;
      margin: 20px;
      margin-left: 3.6458333333333335vw;
      justify-content: space-between;
  }

  .cart {
      margin-left: 10px;
      color: white;
  }

  .options {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      width: 66.66666666666667vw;
      height: 9.070294784580499vh;
      position: relative;
      margin: 0px 5.833333333333333vw;
  }

  .images {
      display: flex;
      margin: auto;
      width: 2.6041666666666665vw;
      height: 5.668934240362812vh;
  }

  .svgo {
      transform: rotate(270deg);
      margin-left: 5px;
  }

  #image9 {
      height: 13.605442176870747vh;
  }

  .option {
      margin-top: 0px;
      font-size: 12px;
      font-weight: bold;
  }

  .a {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: center;
      box-shadow: 0px 1px 1px 0px rgb(185, 179, 179);
  }

  .product {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: center;
      align-items: center;
      background-color: rgb(240, 233, 233);
      flex-direction: column;
  }

  .product1 {
      display: flex;
      width: 107%;
      height:39.682539682539684vh;
      background-color: #fff;
      text-align: center;
      margin-top: 1px;
      margin-bottom: 15px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
  }

  .product2 {
      display: flex;
      width: 93%;
      height:39.682539682539684vh;
      background-color: #fff;
      text-align: center;
      margin-top: 1px;
      margin-bottom: 1.7006802721088434vh;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
  }

  .product1 img {
      width: 7.291666666666667vw;
      height: 18.140589569160998vh;
      margin: 3.9682539682539684vh 0px;
  }

  .product2 img {
      width:7.291666666666667vw;
      height: 18.140589569160998vh;
      margin:  3.9682539682539684vh 0px;
  }

  .pname {
      font-weight: 600;
      padding-top: 0px;
      color: black;
  }

  .discount {
      margin-top: 3px;
      color: rgb(33, 156, 33);
  }

  .abt {
      color: rgb(194, 207, 212);
      margin-top: 3px;
  }

  .pd {
      padding: 2.2675736961451247vh 0.5208333333333334vw;
      width: 10.416666666666666vw;
  }

  .deal {
      display: flex;
      width: 100%;
      height: 5.668934240362812vh;
      background-color: white;
      margin-top: 1.1337868480725624vh;
      align-items: center;
      font-size: larger;
      white-space: nowrap;
  }

  .viewall button {
      background-color: #2874f0;
      color: white;
      border: none;
      width: 5.208333333333333vw;
      height: 4.195011337868481vh;

  }

  .viewall {
      width: 100%;
      justify-content: end;
      margin-right: 0.5208333333333334vw;
  }

  .product:first-child {
      align-self: stretch;
  }

  .deal1 {
      display: flex;
      width: 93%;
      height:7.142857142857143vh;
      background-color: white;
      margin-top: 2.2675736961451247vh;
      align-items: center;
      font-size: medium;
      white-space: nowrap;

  }

  .viewall1 button {
      background-color: #2874f0;
      color: white;
      border: none;
      width: 5.277044854881266vw;
      height: 4.101995565410199vh;

  }

  .viewall1 {
      width: 100%;
      justify-content: end;
      margin-right: 0.5277044854881267vw;
  }

  .deal2 {
      display: inline-block;
      font-size: 16px;
      margin-top: 5px;
  }

  .option:hover {
      color: #2874f0;

  }

  .option:hover svg {
      fill: #2874f0;
      transform: rotate(90deg);

  }

  #image1:hover #item1 {
      color: #2874f0;
  }

  .abc {
      position: relative;
      display: flex;
      width: 93%;
  }

  .ab {
      width: 87%;
  }

  .add {
      width: fit-content;
      height: 45.24589800443459vh;
      margin-top: 11px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);

  }

  .add img {
      width: 100%;
      height: 45.24589800443459vh;
      z-index: 4;

  }

  .sidescroll {

      width: 1.6910935738444195vw;
      height: 10.54590570719603vh;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .sidescroll svg {
      transform: rotate(180deg);
      height:2.2675736961451247vh;
      width: 2.8645833333333335vw;
  }

  .sidescroll1 {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
  }

  .product a {
      text-decoration: none;
  }

  .sq {
      height: 15px;
      width: 15px;
      background: white;
      z-index: 2;
  }